/*Colores de los titulos*/
.Titulo1{
    color:rgba(2, 230, 255)
}

.liv{
    color:red
}
.real{
    color:gold
}
.city{
    color:aqua
}

/*Colores de los fondos de las tablas*/
tr:nth-child(2),
tr:nth-child(3),
tr:nth-child(4),
tr:nth-child(5){
    background-color: rgb(241, 146, 15);
}

tr:nth-child(6){
    background-color: rgb(46, 204, 71);
}

tr:nth-child(1){
    background-color: rgb(34, 98, 219);
}

/*Tamaño de las tablas*/
table {
    width: 900px; 
    height: 300px; 
    table-layout: fixed; 
}

/*Tamaño del cuadro de los input*/
input[type="text"] {
    width: 300px;
} 

button{
    width: 300px;
}

/*Imagen de fondo de la pagina*/
html{
    background-image: url(../imagenes/fondo.jpeg);
}

/*Color primer parrafo*/
.Texto{
    color: white
}
